@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
      font-family: 'Luckiest Guy', cursive;
      margin: 0;
      padding: 0;
      box-sizing: border - box;
}
body {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}
#canvas1 {
     background: linear-gradient(to bottom, lightblue, darkblue, black);
     font-family: 'Luckiest Guy', cursive;
}

